@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #0c8acee0;
}

.lista {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: #e2e2e291;
    border-radius: 5px;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

label {
    margin-left: 5px;
}

.checkbox {
    width: 20px;
    /* Largura desejada */
    height: 20px;
    /* Altura desejada */
}

.input_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8080804f;
}

i {
    font-size: 15px;
    color: white;
}

button {
    background-color: rgba(0, 226, 0, 0.53);
    border: none;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    input {
        width: 120px;
    }
}